<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>登録完了</title>
<link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
	<header>
  	<h1 class="headline">
      <a>C-Phone</a>
    </h1>

    <ul class="nav-list">
      <li class="nav-list-item">
        <a href="/top">TOP</a>
      </li>
      <li class="nav-list-item">
		<a href="/customer/create">顧客登録</a>
		</li>

       <li class="nav-list-item">
      <form th:action="@{/logout}" name="logout" method="POST">
      <a href="javascript:logout.submit()">ログアウト</a></form></li>
 
    </ul>
  </header>
  
    <div class="loginbox2">
 <div class="lg-2">登録完了</div>

  <a href="/top"><button type="button">TOP画面へ</button></a>
  <a href="/search"><button type="button">顧客一覧へ</button></a>
  
</div>
</body>
</html>