<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>顧客編集</title>
		<link rel="stylesheet" href="../static/css/style.css">
    </head>

  <body>
    <header>
      <h1 class="headline">
        <a>C-Phone</a>
      </h1>
      <ul class="nav-list">
        <li class="nav-list-item">
          <a href="#">TOP</a>
        </li>
        <li class="nav-list-item">ユーザー名</li>
        <li class="nav-list-item"><a href="#">ログアウト</a></li>
      </ul>
    </header>
    
    <div class="container">
      <div class="row">
        <h1>顧客編集
        </h1>
      </div>
        <form action="＃" method="get" class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="items">
                    <label for="f-name">姓</label>
                    <input type="text" id="f-name" name="f-name" class="form-control" autofocus required>
                </div>
                <div class="items">
                  <label for="l-name">名</label>
                  <input type="text" id="l-name" name="l-name" class="form-control" autofocus required>
                </div>
                <div class="items">
                  <label>性別</label>
                  <div class="sex_radio">
                      <label class="radio-inline">
                          <input type="radio" name="radio" value="1" required>男性
                      </label>
                      <label class="radio-inline">
                          <input type="radio" name="radio" value="2" required>女性
                      </label>
                  </div>
                </div>
                <div class="items">
                  <label for="post-code">郵便番号</label>
                  <input type="text" id="post-code" name="post-code" class="form-control" required>
                </div>
                <div class="items">
                  <label for="post-code">都道府県</label>
                  <input type="text" id="postcode" name="post-code" class="form-control" required>
                </div>
                <div class="items">
                  <label for="city">市区町村</label>
                  <input type="text" id="city" name="city" class="form-control" required>
                </div>
                <div class="items">
                  <label for="address">番地</label>
                  <input type="text" id="address" name="address" class="form-control" required>
                </div>
                <div class="items">
                  <label for="tel">電話番号</label>
                  <input type="tel" id="tel" name="tel" class="form-control" required>
                </div>
                <div class="items">
                    <label for="email">メールアドレス</label>
                    <input type="email" id="email" name="email" class="form-control" required>
                </div>
                <div class="items">
                  <label for="products">契約商品</label>
                  <input type="text" id="products" name="products" class="form-control" required>
                </div>
              <div class="items">
                <label for="person">担当者</label>
                <input type="person" id="person" name="person" class="form-control" required>
              </div>
              <div class="items">
                <label for="email">備考</label>
                <textarea rows="5" cols="80" style="width: 75%;"></textarea>
              </div>
            <div class="oya-btn">
              <button type="submit" class="btn-primary btn-primary--radius btn-primary--shadow">登録</button>
            </div>
            </div>
        </form>
      </div>
  </body>
</html>