
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 	<head>
		<meta charset="UTF-8">
		<title>登録完了画面</title>
		<link rel="stylesheet" href="../static/css/style.css">
		</head>
<body>
	<header>
  	<h1 class="headline">
      <a>C-Phone</a>
    </h1>
    <ul class="nav-list">
      <li class="nav-list-item">
        <a href="#">TOP</a>
      </li>
      <li class="nav-list-item" ><a>ユーザー名</a></li>
      <li class="nav-list-item" ><a href="#">ログイン</a></li>
    </ul>
    </header>

		<div class="loginbox2">
			<h1 class="ttmm">登録完了</h1>
			
			<input type="submit" name="" value="TOPへ">

		
		</div>
	</body>
</html>