<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 	<head>
		<meta charset="UTF-8">
		<title>ユーザー登録</title>
		<link rel="stylesheet" href="../static/css/style.css">
	</head>
<body>
	<header>
  	<h1 class="headline">
      <a>C-Phone</a>
    </h1>
    <ul class="nav-list">
      <li class="nav-list-item">
        <a href="#">TOP</a>
      </li>
      <li class="nav-list-item" ><a>ユーザー名</a></li>
      <li class="nav-list-item" ><a href="#">ログイン</a></li>
    </ul>
    </header>
		<div class="loginbox">
			<h1 class="moji">ユーザー登録</h1>
			<form>
			<p>ユーザーネーム</p>
			<input type="text" name="" placeholder="例 鈴木太郎">
			<p>社員番号</p>
			<input type="text" name="" placeholder="例 10010">
			<p>パスワード</p>
			<input type="password" name="" placeholder="例 pass100">
			<div>
			<p class="admin1">管理者</p>
			</div>
			
			<div class="radioArea1">
			<label>
			<input type="radio" id="administrator1" name="administrator" value="1">あり
			</label>
			<label>
  			<input type="radio" id="administrator2" name="administrator" value="2">なし
			</label>
			
			</div>
			<div class="radioArea1">
			
    		
    		</div>
    		<label>
			<input type="submit" name="" value="登録">


			</label>
  
			</form>
		</div>
	</body>
</html>
