<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 	<head>
		<meta charset="UTF-8">
		<title>ログイン</title>
		
		<link th:href="@{/css/style.css}" rel="stylesheet"/>
	</head>
<body>
	<header>

  	<h1 class="headline">
      <a>C-Phone</a>
    </h1>
    <ul class="nav-list">
      <li class="nav-list-item">

    </ul>
</header>

		<div class="loginbox">
			<h1>ログイン</h1>
			<form th:action="@{/login}" method="post">
			<p>ユーザーネーム</p>
			<input type="text" id="username" name="username" placeholder="名前入力">
			<p>パスワード</p>
			<input type="text" id="password" name="password" placeholder="パスワード入力">
			<input type="submit" name="" value="ログイン">
			<a href="#">パスワード忘れた方はこちらへ</a>
			<input type="submit" name="aasa" value="新規登録">
			</form>
			
		</div> 
		
	</body>
</html>
