<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>TOP画面</title>
<link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
	<header>
  	<h1 class="headline">
      <a>C-Phone</a>
    </h1>
    <ul class="nav-list">
      <li class="nav-list-item">
        <a href="/top">TOP</a>
      </li>
      <li class="nav-list-item">
		<a href="/customer/create">顧客登録</a>
		</li>
      <li class="nav-list-item">
      <form th:action="@{/logout}" name="logout" method="POST">
      <a href="javascript:logout.submit()">ログアウト</a></form></li>
    </ul>
  </header>

		<form th:action="@{/search}" id="s_form" method="get">
			<input id="s_box"  name="s" type="text" placeholder="" />
			<button id="s_botton" type="submit">検索</button>
			</form>
		
</body>
</html>
