<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>TOP画面</title>
<link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
	<header>
  	<h1 class="headline">
      <a>C-Phone</a>
    </h1>
    <ul class="nav-list">
      <li class="nav-list-item">
        <a href="#">TOP</a>
      </li>
      <li class="nav-list-item">ユーザー名</li>
      <li class="nav-list-item"><a href="#">ログアウト</a></li>
    </ul>
  </header>
	
	<div class="oya_c_regi">
		<button class="btn c_regi c_regi-border" id="c_regi" type="button">顧客登録</button>
		</div>
		<form id="s_form" action="サイト">
		<input id="s_box"  name="s" type="text" placeholder="" />
		<input id="s_botton" type="submit" value="検索" /> 
		</form>	
</body>
</html>